__pycache__/
*.py[cod]
*.sqlite3
*.db
.env
env/
venv/
node_modules/
debug_full_page.html
vectorstore.pkl
vectorstore_course.pkl
*.webp
*.png
*.jpg
*.jpeg
*.pt
*.bin
*.npy
*.pkl
*.pdf
.git
.gitignore
.DS_Store
